# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
.noseids
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
*.code-workspace

# selenium
geckodriver.log
fireunc/app-fireunc.js
fireunc/app.py
fireunc/htmlbld.py
fireunc/jquery-3.4.1.min.js
fireunc/main-fireunc.css
fireunc/Metro-UI-CSS-master.zip
fireunc/jquery-ui-1.12.1/AUTHORS.txt
fireunc/jquery-ui-1.12.1/index.html
fireunc/jquery-ui-1.12.1/jquery-ui.css
fireunc/jquery-ui-1.12.1/jquery-ui.js
fireunc/jquery-ui-1.12.1/jquery-ui.min.css
fireunc/jquery-ui-1.12.1/jquery-ui.min.js
fireunc/jquery-ui-1.12.1/jquery-ui.structure.css
fireunc/jquery-ui-1.12.1/jquery-ui.structure.min.css
fireunc/jquery-ui-1.12.1/jquery-ui.theme.css
fireunc/jquery-ui-1.12.1/jquery-ui.theme.min.css
fireunc/jquery-ui-1.12.1/LICENSE.txt
fireunc/jquery-ui-1.12.1/package.json
fireunc/jquery-ui-1.12.1/external/jquery/jquery.js
fireunc/jquery-ui-1.12.1/images/ui-icons_444444_256x240.png
fireunc/jquery-ui-1.12.1/images/ui-icons_555555_256x240.png
fireunc/jquery-ui-1.12.1/images/ui-icons_777620_256x240.png
fireunc/jquery-ui-1.12.1/images/ui-icons_777777_256x240.png
fireunc/jquery-ui-1.12.1/images/ui-icons_cc0000_256x240.png
fireunc/jquery-ui-1.12.1/images/ui-icons_ffffff_256x240.png
fireunc/metro4-4.3.4/metro4-4.3.4-07e9f5179bff6c3055d6f3b7db63be7c.css
fireunc/metro4-4.3.4/metro4-4.3.4-07e9f5179bff6c3055d6f3b7db63be7c.js
fireunc/metro4-4.3.4/metro4-4.3.4-07e9f5179bff6c3055d6f3b7db63be7c.min.css
fireunc/metro4-4.3.4/metro4-4.3.4-07e9f5179bff6c3055d6f3b7db63be7c.min.css.map
fireunc/metro4-4.3.4/metro4-4.3.4-07e9f5179bff6c3055d6f3b7db63be7c.min.js
fireunc/metro4-4.3.4/metro4-4.3.4-07e9f5179bff6c3055d6f3b7db63be7c.min.js.map
fireunc/metro4-4.3.4/css/metro-all.css
fireunc/metro4-4.3.4/css/metro-all.min.css
fireunc/metro4-4.3.4/css/metro-animations.css
fireunc/metro4-4.3.4/css/metro-animations.min.css
fireunc/metro4-4.3.4/css/metro-colors.css
fireunc/metro4-4.3.4/css/metro-colors.min.css
fireunc/metro4-4.3.4/css/metro-icons.css
fireunc/metro4-4.3.4/css/metro-icons.min.css
fireunc/metro4-4.3.4/css/metro-rtl.css
fireunc/metro4-4.3.4/css/metro-rtl.min.css
fireunc/metro4-4.3.4/css/metro-third.css
fireunc/metro4-4.3.4/css/metro-third.min.css
fireunc/metro4-4.3.4/css/metro.css
fireunc/metro4-4.3.4/css/metro.min.css
fireunc/metro4-4.3.4/css/schemes/darcula.css
fireunc/metro4-4.3.4/css/schemes/darcula.min.css
fireunc/metro4-4.3.4/css/schemes/red-alert.css
fireunc/metro4-4.3.4/css/schemes/red-alert.min.css
fireunc/metro4-4.3.4/css/schemes/red-dark.css
fireunc/metro4-4.3.4/css/schemes/red-dark.min.css
fireunc/metro4-4.3.4/css/schemes/red-mirohost.css
fireunc/metro4-4.3.4/css/schemes/red-mirohost.min.css
fireunc/metro4-4.3.4/css/schemes/sky-net.css
fireunc/metro4-4.3.4/css/schemes/sky-net.min.css
fireunc/metro4-4.3.4/mif/metro.json
fireunc/metro4-4.3.4/mif/metro.svg
fireunc/metro4-4.3.4/mif/metro.ttf
fireunc/metro4-4.3.4/mif/metro.woff
fireunc/vakata-jstree-c9d7c14/.gitignore
fireunc/vakata-jstree-c9d7c14/bower.json
fireunc/vakata-jstree-c9d7c14/component.json
fireunc/vakata-jstree-c9d7c14/composer.json
fireunc/vakata-jstree-c9d7c14/gruntfile.js
fireunc/vakata-jstree-c9d7c14/jstree.jquery.json
fireunc/vakata-jstree-c9d7c14/LICENSE-MIT
fireunc/vakata-jstree-c9d7c14/package.json
fireunc/vakata-jstree-c9d7c14/README.md
fireunc/vakata-jstree-c9d7c14/demo/README.md
fireunc/vakata-jstree-c9d7c14/demo/basic/index.html
fireunc/vakata-jstree-c9d7c14/demo/basic/root.json
fireunc/vakata-jstree-c9d7c14/src/intro.js
fireunc/vakata-jstree-c9d7c14/src/jstree.changed.js
fireunc/vakata-jstree-c9d7c14/src/jstree.checkbox.js
fireunc/vakata-jstree-c9d7c14/src/jstree.conditionalselect.js
fireunc/vakata-jstree-c9d7c14/src/jstree.contextmenu.js
fireunc/vakata-jstree-c9d7c14/src/jstree.dnd.js
fireunc/vakata-jstree-c9d7c14/src/jstree.js
fireunc/vakata-jstree-c9d7c14/src/jstree.massload.js
fireunc/vakata-jstree-c9d7c14/src/jstree.search.js
fireunc/vakata-jstree-c9d7c14/src/jstree.sort.js
fireunc/vakata-jstree-c9d7c14/src/jstree.state.js
fireunc/vakata-jstree-c9d7c14/src/jstree.types.js
fireunc/vakata-jstree-c9d7c14/src/jstree.unique.js
fireunc/vakata-jstree-c9d7c14/src/jstree.wholerow.js
fireunc/vakata-jstree-c9d7c14/src/misc.js
fireunc/vakata-jstree-c9d7c14/src/outro.js
fireunc/vakata-jstree-c9d7c14/src/sample.js
fireunc/vakata-jstree-c9d7c14/src/vakata-jstree.js
fireunc/vakata-jstree-c9d7c14/src/themes/base.less
fireunc/vakata-jstree-c9d7c14/src/themes/main.less
fireunc/vakata-jstree-c9d7c14/src/themes/mixins.less
fireunc/vakata-jstree-c9d7c14/src/themes/responsive.less
fireunc/vakata-jstree-c9d7c14/src/themes/default/32px.png
fireunc/vakata-jstree-c9d7c14/src/themes/default/40px.png
fireunc/vakata-jstree-c9d7c14/src/themes/default/style.css
fireunc/vakata-jstree-c9d7c14/src/themes/default/style.less
fireunc/vakata-jstree-c9d7c14/src/themes/default/throbber.gif
fireunc/vakata-jstree-c9d7c14/src/themes/default-dark/32px.png
fireunc/vakata-jstree-c9d7c14/src/themes/default-dark/40px.png
fireunc/vakata-jstree-c9d7c14/src/themes/default-dark/style.css
fireunc/vakata-jstree-c9d7c14/src/themes/default-dark/style.less
fireunc/vakata-jstree-c9d7c14/src/themes/default-dark/throbber.gif
fireunc/vakata-jstree-c9d7c14/test/unit/index.html
fireunc/vakata-jstree-c9d7c14/test/unit/test.js
fireunc/vakata-jstree-c9d7c14/test/unit/libs/qunit.css
fireunc/vakata-jstree-c9d7c14/test/unit/libs/qunit.js
fireunc/vakata-jstree-c9d7c14/test/visual/desktop/index.html
fireunc/vakata-jstree-c9d7c14/test/visual/mobile/index.html
fireunc/vakata-jstree-c9d7c14/test/visual/screenshots/desktop/.png
fireunc/vakata-jstree-c9d7c14/test/visual/screenshots/desktop/desktop.png
fireunc/vakata-jstree-c9d7c14/test/visual/screenshots/desktop/home.png
fireunc/vakata-jstree-c9d7c14/test/visual/screenshots/mobile/.png
fireunc/vakata-jstree-c9d7c14/test/visual/screenshots/mobile/home.png
fireunc/vakata-jstree-c9d7c14/test/visual/screenshots/mobile/mobile.png
